.container {
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color:#ffffff;
  border-top-left-radius:45px;
  border-bottom-right-radius: 45px;
  box-shadow: 0 10px 4px rgba(185, 60, 60, 0.2);
 border: 5px solid rgb(239, 100, 7) ;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  font-family:  sans-serif;
}

.key-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

input {
  width: 80%;
align-self: center;
  padding: 10px;
  font-size: 18px;
  background-color: #c5c1c1;
  border: 0px;
  border-radius: 5px;
}

.stats {
  margin-top: 20px;
}


.main-div{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 100vh;
background-image: url("https://d3lzcn6mbbadaf.cloudfront.net/media/details/Capture2022041103544920220411045540.jpg");
background-size:cover;
}
.data1{
  padding-left: 15px;
  font-weight: 500;
  color: green;
  font-size: 35px;
}



.accuracy{
color: green;
font-weight: 700;
font-size: 24px !important;
}
.stats p {
  font-size: 18px;
  margin-bottom: 10px;
}